body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: auto;

}

.Principal-Container_Upperpart_Logo{
    position: fixed;
    height: 10%;
    width: 12%;
}

.Principal-Container_Upperpart_Logo img{
    position: fixed;
height: 10%;
width: 12%;
padding: 10px;
margin-left: 20px;
margin-top: -20px;

}

.Principal-Container_Upperpart_Chart{
    position: fixed;
background-color: #212529;
width: 100%;
height: 10%;
margin-top: 0.3px;
z-index: -7;
}
.Principal-Container_Upperpart_text1{
margin-left:400px;
}


.Principal-Container_Upperpart_textscontainer{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 240px;
    font-size: 40px;
    margin-top: 32px;
    z-index: 5;

}
p {
    color: white;
}
.Principal-Container_newstext{
  position: fixed;
  margin-top: 120px;
  font-size: 40px;
  margin-left: 100px;
  padding: 0;
}


.Principal-Container_newschart1{
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  gap: 30px;

}

#newschart1_border{
  position: fixed;
 width: 496px;
  border: 1px solid red;
  height: 560px;
  margin-top: 297px;
  margin-left: 97.1px;
  border-radius: 35px;
  z-index: -6;

}

.Principal-Container_newschart1{

z-index: -5;
}

.Principal-Container_newschart2{

z-index: -5;
}

.Principal-Container_newschart3{

z-index: -5;
}
.Principal-Container_newschart1 img{
width: 30%;
margin-top: 310px;
margin-left: 12px;

}

.Principal-Container_newschart1 p{
  width: 30%;
  margin-left: 10px;
font-size: 15px;
height: 30px;

  }

  .Principal-Container_newschart2 img{
    width: 37%;
    margin-top: 310px;
    margin-left: 18px;

    }
    
    .Principal-Container_newschart2 p{
      width: 37%;
      margin-left: 30px;
    font-size: 15px;
    height: 30px;
    
      }
      .Principal-Container_newschart2{
        position: fixed;
        display: flex;
        flex-direction: column;
        margin-left: 700px;
        gap: 30px;
      }

#newschart2_border{
        position: fixed;
       width: 496px;
        border: 1px solid red;
        height: 560px;
        margin-top: 297px;
        margin-left: 693px;
        border-radius: 35px;
        z-index: -6;
      
      }
      #newschart3_border{
        position: fixed;
       width: 496px;
        border: 1px solid red;
        height: 560px;
        margin-top: 297px;
        margin-left: 1350px;
        border-radius: 35px;
        z-index: -6;
      
      }


      .Principal-Container_newschart3 img{
        width: 87%;
        margin-top: 310px;
        margin-left: -30px;
      
    
        }
        
        .Principal-Container_newschart3 p{
          width: 80%;
          margin-left: -20px;
        font-size: 14px;
        height: 50px;
        margin-top: 10px;
        
          }
          .Principal-Container_newschart3{
            position: fixed;
            display: flex;
            flex-direction: column;
            margin-left: 1400px;
            gap: 30px;
          }

  a{
    text-decoration: none;
    color: white;
  }

  .boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF0000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bolder;
    width: 5%;
    margin-left: 20px;
    margin-top: 10px;
  }




  .boton2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF0000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bolder;
    width: 7%;
    margin-left: 30px;
    margin-top: 18px;
  }

  .boton3 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF0000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bolder;
    width: 15%;
    margin-left: -20px;
    margin-top: -10px;
  }

















/* Mediaquerry */

@media (max-width: 430px) {
  .Principal-Container_Upperpart_text1 {
    margin-left: 90px; 
    max-width: 100%;   
  }

 .Principal-Container_Upperpart_text1,
  .Principal-Container_Upperpart_text2,
  .Principal-Container_Upperpart_text3,
  .Principal-Container_Upperpart_text4,
  .Principal-Container_Upperpart_text5 {
   font-size: 13px;
    margin-top: 10px;


  }

  .Principal-Container_Upperpart_textscontainer {
    flex-direction: row; 
    align-items: flex-start;
    gap: 20px;             
    position: relative;    
    font-size: 16px;        
    padding: 10px;
  }
}
