body {
    padding: 0;
    padding: 0;
    background-color: black;
    background-repeat: no-repeat;
    height: 100vh;
}

.Logo_Container{
    height: 1vw;
    width: 1vw;
position: fixed;
overflow: hidden;
}

#Logo_Container-img{
    margin: 20vw 0vw 0vw 25vw;
    height: 10vw;
    width: 50vw;
    position: fixed;
    overflow: hidden;
}

@keyframes Logo {

    
}